// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

}

// input {
//   width: 50%;
//   text-align: center;

// }


p {
  text-align: center;
  color: blue;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

form {
  display : flex;
  justify-content: space-around;
}
